.navg a{
    color: #f4f4f4!important;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 23px;
    padding: 10px 15px;
    text-align: center;

}

.navg a:hover{
    background-color: rgb(1, 8, 17);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lato";
    font-weight: bold;
}
